<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
<body class="bg-light">

<div class="container mt-2 bg-light">
<div class="row">
  <div class="col-sm">
  <p>Welcome <%= userarrdata[1] %></p>
  </div>
 <div class="col-sm border border-primary">
 
    <div class="form-group">
      <label for="money">Money:</label>
      <input type="text" class="form-control" id="money" name="money" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" name="description" required>
    </div>
    <label> Select Category </label>
    <div class="form-group">
      
              <select id="category">
              <option value="Petrol">Petrol</a>
              <option value="Grocery">Grocery</a>
              <option value="Clothing">Clothing</a>
              <option value="Salary">Salary</a>
              <option value="Outdoor">Outdoor</a>
              <option value="Other">Other</a>
            </select>
            
    </div>
    <input type="hidden" id='userid' value="<%= userarrdata[0] %>">
    <button type="submit" class="btn btn-primary" id="submit" onclick="addexpence()">Add Expence</button>
    <ul id="expencelist"></ul>
 
</div>
<div class="col-sm">

</div>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

async function fetchexpences(){

    try{
          const id=document.getElementById('userid').value
          const response=await axios.get(`userexpences/${id}`);
        const user=response.data;
       console.log('loaded content=',user.length); 

       const userList = document.getElementById('expencelist');

        // Render each user as a list item
          for(let i=0;i<user.length;i++){

          const listItem = document.createElement('li');
            const editButton=document.createElement('button');
            editButton.value='Edit';
            editButton.id=user[i].id;
            editButton.textContent='Edit';
            editButton.className='editItem';
            editButton.onclick=editItem;
            const deleteButton=document.createElement('button');
            deleteButton.value='delete';
            deleteButton.id=user[i].id;
            deleteButton.onclick=deleteItem;
            deleteButton.className='deleteItem';
            deleteButton.textContent='Delete';

           const value= `${user[i].money} ${user[i].description} ${user[i].category} `;
           listItem.textContent=value;
           listItem.appendChild(editButton);
           listItem.appendChild(deleteButton);
          userList.appendChild(listItem);

//uploading and redering code above

async function editItem(event){

const id=event.target.id;
console.log('edit item id=',id);
console.log('edit product fun2 called and id is=',event.target.id);
    
try{
    const response=await axios.get(`/editexpence/${id}`);

const user = response.data;
console.log('response=',user);
// Get the <ul> element to append the users
const userList = document.getElementById('expencelist');

// Render each user as a list item

document.getElementById('money').value=user.money;
document.getElementById('description').value=user.description;
document.getElementById('category').value=user.category;
document.getElementById('userid').value=user.id;
document.getElementById('submit').innerHTML='Update Product';
document.getElementById('submit').onclick=UpdateProduct;
const li=event.target.parentElement;
console.log('li=',li);
userList.removeChild(li);      
}
catch(error){
    console.log('getting error while fetching data from server =',error);

}
} //edit function closed

async function deleteItem(event){
console.log('product deleted  fun2 successfully');
//  alert(event.target.id)
const id=event.target.id;
console.log('value of id=',id);
console.log(`Button ${id} was clicked.`);
try{
const response=await axios.delete(`/deleteexpence/${id}`)
console.log('delete response=',response);

if(response){
  console.log('User Deleted :',response.data)
const userList = document.getElementById('expencelist');
const li=event.target.parentElement;
console.log(li);

userList.removeChild(li);

}
else{
console.log('something went wrong');
}

}catch(error){
    console.log('getting error while fetching data from server =',error);

}

} //delete function closed

async function UpdateProduct(){

console.log('update product2 function called');
const id=document.getElementById('userid').value;
const money=document.getElementById('money').value;
const description=document.getElementById('description').value;
const category=document.getElementById('category').value;
const buttonSubmit=document.getElementById('submit');

const jsonData = {
money: money,
description: description,
category: category,

};

console.log('JSON=',jsonData);
try{
const response=await axios.put(`/updateexpence/${id}`,jsonData);
  const user=response.data;
  console.log('User Updated :',user);

  const userList = document.getElementById('expencelist');
        
        // Render each user as a list item
          const listItem = document.createElement('li');
            const editButton=document.createElement('button');
            editButton.value='Edit';
            editButton.id=user.id;
            editButton.textContent='Edit';
            editButton.onclick=editItem;
            const deleteButton=document.createElement('button');
            deleteButton.value='delete';
            deleteButton.id=user.id;
            deleteButton.onclick=deleteItem;
            deleteButton.textContent='Delete';

           const value= `${user.money} ${user.description} ${user.category} `;
           listItem.textContent=value;
           listItem.appendChild(editButton);
           listItem.appendChild(deleteButton);
          userList.appendChild(listItem);
          buttonSubmit.innerHTML='Add Expence';
          buttonSubmit.onclick=addexpence;
 
 
document.getElementById('money').value='';
document.getElementById('description').value='';
document.getElementById('category').value='';
alert('product updated successfully');

}catch(error){
  console.log('error while udpating=',error);
}

}




}

    }catch(error){
      console.log('error while loading content from server',error);
    }
}



document.addEventListener("DOMContentLoaded",fetchexpences);

async function addexpence(){
  console.log('addexpence function called');
  try {
  //alert('abcd');  
  const money=document.getElementById('money').value;
  const description=document.getElementById('description').value;
  const category=document.getElementById('category').value;
  const userid=document.getElementById('userid').value;
  const ul=document.getElementById('expencelist');
console.log('Moeny=',money, 'description=',description, 'category=',category);
  if(money && description && category){
  const expencedata={
    money:money,
    description:description,
    category:category,
    id:userid
  }
console.log('form data=',expencedata);
const response=await axios.post('/addexpence',expencedata);
console.log('response data=',response);
if(response){
  alert('expence created successfully');
  const user=response.data;
  document.getElementById('money').value='';
  document.getElementById('description').value='';
  document.getElementById('category').value='';
    const buttonText=document.getElementById('btn');
          console.log('id=',user.id);
        const userList = document.getElementById('expencelist');

        // Render each user as a list item
          
          const listItem = document.createElement('li');
            const editButton=document.createElement('button');
            editButton.value='Edit';
            editButton.id=user.id;
            editButton.textContent='Edit';
            editButton.className='editItem';
            editButton.onclick=editItem;
            const deleteButton=document.createElement('button');
            deleteButton.value='delete';
            deleteButton.id=user.id;
            deleteButton.onclick=deleteItem;
            deleteButton.className='deleteItem';
            deleteButton.textContent='Delete';

           const value= `${user.money} ${user.description} ${user.category} `;
           listItem.textContent=value;
           listItem.appendChild(editButton);
           listItem.appendChild(deleteButton);
          userList.appendChild(listItem);
}
}
else{
  console.log('something went wrong');
}
} 
       catch (error) {
        console.error('Error fetching users:', error);
      }


async function editItem(event){

const id=event.target.id;
console.log('edit item id=',id);
console.log('edit product fun2 called and id is=',event.target.id);
    
try{
    const response=await axios.get(`/editexpence/${id}`);

const user = response.data;
console.log('response=',user);
// Get the <ul> element to append the users
const userList = document.getElementById('expencelist');

// Render each user as a list item

document.getElementById('money').value=user.money;
document.getElementById('description').value=user.description;
document.getElementById('category').value=user.category;
document.getElementById('userid').value=user.id;
document.getElementById('submit').innerHTML='Update Product';
document.getElementById('submit').onclick=UpdateProduct;
const li=event.target.parentElement;
console.log('li=',li);
userList.removeChild(li);      
}
catch(error){
    console.log('getting error while fetching data from server =',error);

}
} //edit function closed

async function deleteItem(event){
console.log('product deleted  fun2 successfully');
//  alert(event.target.id)
const id=event.target.id;
console.log('value of id=',id);
console.log(`Button ${id} was clicked.`);
try{
const response=axios.delete(`/deleteproduct/${id}`)
//alert('product deleted successfully');

if(response){
  console.log('User Deleted :',response.data)
userList = document.getElementById('expencelist');
const li=event.target.parentElement;
console.log(li);

userList.removeChild(li);

}
else{
console.log('something went wrong');
}

}catch(error){
    console.log('getting error while fetching data from server =',error);

}

} //delete function closed

async function UpdateProduct(){

console.log('update product2 function called');
const id=document.getElementById('userid').value;
const money=document.getElementById('money').value;
const description=document.getElementById('description').value;
const category=document.getElementById('category').value;
const buttonSubmit=document.getElementById('submit');

const jsonData = {
money: money,
description: description,
category: category,

};

console.log('JSON=',jsonData);
try{
const response=await axios.put(`/updateexpence/${id}`,jsonData);
  const user=response.data;
  console.log('User Updated :',user);

  const userList = document.getElementById('expencelist');
        
        // Render each user as a list item
          const listItem = document.createElement('li');
            const editButton=document.createElement('button');
            editButton.value='Edit';
            editButton.id=user.id;
            editButton.textContent='Edit';
            editButton.onclick=editItem;
            const deleteButton=document.createElement('button');
            deleteButton.value='delete';
            deleteButton.id=user.id;
            deleteButton.onclick=deleteItem;
            deleteButton.textContent='Delete';

           const value= `${user.money} ${user.description} ${user.category} `;
           listItem.textContent=value;
           listItem.appendChild(editButton);
           listItem.appendChild(deleteButton);
          userList.appendChild(listItem);
          buttonSubmit.innerHTML='Add Expence';
          buttonSubmit.onclick=addexpence;
 
 
document.getElementById('money').value='';
document.getElementById('description').value='';
document.getElementById('category').value='';
alert('product updated successfully');

}catch(error){
  console.log('error while udpating=',error);
}

}
}
</script>

</body>
</html>
